*{
    box-sizing: border-box;
}

body{
    background-color: #dddddd;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
}
.navbar-light .container{
    background-color:#ffffff;
    
}
.navbar-light .navbar-brand{
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
    background-color: #4aaaa5;
}
.navbar-nav{
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }
.container{
    background-color: #ffffff;
    }

h3 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.customContainer{
    margin-top: 35px;
}
p{
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  columns: #777777;
}
.row{
    margin-top: 5px;
    margin-bottom: 5px;
}
img{
    margin:10px;
}
.text1 {
    position: absolute;
    bottom:15px;
    left: 200px;
    width:92%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    color:#fff;
    text-align: center;
  }
  form{
    margin-left: 15px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    width:95%;
  }
 .btn-primary {
    color: #fff;
    background-color:#4aaaa5;
    margin-bottom: 10px;
    
}
.footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    color:#ffffff;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom:0px;
    width:100%;
}
@media (min-width: 576px) { 
    
 }

@media (min-width: 768px) { 
    
 }

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}